.todo-list li .timeReminder {
    display: none;
    position: absolute;
    top: 0;
    right: 150px;
    bottom: 0;
    width: 40px;
    height: 40px;
    margin: auto 0;
    background: red;
}

.todo-list li:hover .timeReminder {
    display: block;
}

.todo-list li .setTimeReminder {
    display: none;
}

.todo-list li.settingTime .setTimeReminder {
    display: block;
}

.move {
     display: none;
     position: absolute;
     top: 20px;
     right: 100px;
     width: 0;
     height: 0;
     border-left: 10px solid transparent;
     border-right: 10px solid transparent;
 }

 .up {
     border-bottom: 20px solid red;
 }

 .down {
     right: 60px;
     border-top: 20px solid green;
 }



 .todo-list li:hover .move {
     display: inline-block;
 }